:root {
  --bg: #282828;
  --primaryy: #6c63ff;
  --secondary: #f50057;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

/* sidebar */
.container {
  display: flex;
}

@keyframes sidebar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.sidebar {
  box-shadow: 2px 0 30px black;
  min-width: 80px;
  display: flex;
  justify-content: center;
  animation: sidebar 1s ease-in-out;
  transform: translateX(0%);
  background-color: var(--bg);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  animation: sidebar 0.5s ease-in-out;
}

.sidebar .item {
  list-style: none;
  text-align: center;
}

.sidebar .item .icon {
  padding-top: 21px;
  margin-bottom: 100px;
  animation: icon-top ease forwards;
  animation-duration: 1s, 1s, 0.5s;
  /* transform: translateX(0%); */
  animation-delay: calc(0.2s * var(--side));
  opacity: 0;
}

@keyframes icon-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.sidebar .item .icon img {
  border-radius: 50%;
  border: solid #fff 2px;
  width: 50px;
  height: 50px;
}

.sidebar .item .nav li {
  list-style: none;
  animation: side-left 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.sidebar .item .nav li a {
  display: flex;
  justify-content: center;
  padding: 11px;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: 0.3s ease;
}

@keyframes side-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar .item .nav li #blue1.active,
.sidebar .item .nav li #blue2.active {
  background-color: var(--primaryy);
  border-radius: 50%;
  animation: zoom 0.2s ease;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar .item .nav li #red1.active,
.sidebar .item .nav li #red2.active {
  background-color: var(--secondary);
  border-radius: 50%;
  animation: zoom 0.2s ease;
}

.sidebar .item .nav li img {
  width: 25px;
  height: 25px;
}

.sidebar .item .left {
  margin-top: 80px;
  border: none;
  background-color: transparent;
}

.sidebar .item .left img {
  width: 25px;
  height: 25px;
}

.sidebar .item.active {
  width: 290px;
  transform: translateX(-200px);
  animation: left 0.8s ease forwards;
}

@keyframes left {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.sidebar .item.active .icon {
  width: 56px;
  margin-left: 30px;
}

.sidebar .item.active .nav li {
  justify-content: space-between;
  display: flex;
  margin: 0px 20px;
}

.sidebar .item.active .nav li .link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  animation: linkLeft 0.5s ease forwards;
  transform: translateX(-100px);
  animation-delay: calc(0.2s * var(--a));
  opacity: 0;
  display: flex;
}

@keyframes linkLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.sidebar .item.active .nav li #linkblue1.active,
.sidebar .item.active .nav li #linkblue2.active {
  color: var(--primaryy);
}

.sidebar .item.active .nav li #linkred1.active,
.sidebar .item.active .nav li #linkred2.active {
  color: var(--secondary);
}

.sidebar .item.active .nav li .logo {
  padding: 10px 15px;
  align-items: center;
  animation: iconLeft 0.2s ease forwards;
}

.sidebar .item .nav li .link {
  display: none;
}

/* home */
.home {
  background: white;
  padding: 60px 60px 80px 120px;
  text-shadow: 0 3px 2px grey;
  margin-bottom: 40px;
  transition: 1s;
}

.page-title {
  font-size: 80px;
}

.desc-title {
  font-size: 50px;
  border-bottom: 2px solid black;
  padding: 10px 0px;
  color: #282828;
}

.text1 {
  color: #f50057;
}

.text2 {
  color: #6c63ff;
}

.home p {
  font-size: 30px;
  margin: 20px 0;
}

#home-background {
  float: right;
  width: 550px;
  height: 550px;
  background-color: white;
}

.home a {
  text-decoration: none;
  color: white;
  background-color: #f50057;
  padding: 15px 130px;
  margin: 20px 0px;
  border-radius: 50px;
}

/* Design */
.design {
  display: inline-flex;
  padding: 60px 40px 90px 100px;
  justify-content: space-between;
  transition: 1s;
}

#design-background {
  position: relative;
  top: 120px;
  width: 500px;
  height: 351px;
  background: none;
}

.design-container {
  position: relative;
  margin-left: 40px;
}

.design-title {
  text-align: center;
  border-bottom: #f50057 solid 2px;
  font-size: 60px;
  margin-bottom: 50px;
}

.design-subtitle {
  font-size: 45px;
}

.design-desc {
  font-size: 25px;
  margin: 20px 0;
}

.design-list-detail {
  list-style-type: none;
  font-size: 18px;
}

.list-item-detail {
  margin: 20px 0px;
}

.jasa-button {
  position: relative;
  left: 250px;
  top: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #f50057;
  padding: 0px 30px;
}